.bg {
  width: 100%;
  position: relative;
  background-image: url("/assets/images/about/about-us-bg.png");
  height: 450px;
}

.bg-img {
  width: 100%;
}

.positioned {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.green-text {
  color: #20ce88;
  font-weight: 700;
  font-size: 3.9rem;
}